:root {
  --brand-color: #2196f3;
  --brand-color-gray: #AFB1B8;
  --brand-color-font:  #757575;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-font);
}
h1,
h2,
h3,
h4 {
  color: #212121;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: solid 1px #ececec;
}
.header-wraper {
  display: flex;
  align-items: center;
}

.header-wraper img{
  width: 134px;
  @media screen and (min-width: 1200px) {
    width: 145px;
  }
}
.header-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 85px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 90px;
  }
}
.nav-list {
  display: flex;
}
.nav-items {
  margin-left: 50px;
  color: #212121;
}
.nav-items:hover {
  color: var(--brand-color);
}
.nav-items:first-child {
  margin: 0;
}

.nav-link {
  color: inherit;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding: 10px 0;
}

.header-adress {
  margin-left: auto;
  display: none;
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.adress-link {
  display: inline-block;
  color: var(--brand-color-font);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.adress-link.tel {
  margin-left: 0;
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.adress-link:hover {
  color: var(--brand-color);
}

.mobile-btn{
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FFF;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-btn_icon{
  width: 100%;
  height: 100%;
}

/* hero-section */
.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/Hero-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;

  @media screen and (min-width:768px) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/hero-tablet.png);
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/Hero.png);
    width: 1600px;
    height: 600px;
  }
}
.hero-title {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 480px) {
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 700px;
    letter-spacing: 2.64px;
  }
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  border: none;
  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}

/* Benefits section */
.benefits-section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 90px 0;
  }
}
.benefits-title {
  display: none;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.benefits-items {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefit-items_thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
}
.benefit-items_title {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.benefit-items_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin:10px 0 0 0;
  
}

/* about section */
.about-section {
  display: none;
  padding: 90px 0;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.about-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.about-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.about-item {
  width: 370px;
  position: relative;
}

.item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.item-image {
  display: block;
}

/* section Team */
.team-section {
  background-color: #f5f4fa;
  padding: 90px 0;
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.team-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team-item img {
  width: 100%;
}

.team-item__title {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.team-item__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item:hover {
  background-color: var(--brand-color);
}
.social-item:hover .social-item__icon {
  fill: #ffffff;
}

/* clients-section */
.clients-section{
    padding: 90px 0;
}

.clients-title{
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;

}

.clients-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    
    margin-top: 50px;
    @media screen and (min-width: 480px) {
      gap: 30px;
      

    }
    @media screen and (min-width: 768px) {
    
    }
}

.clients-item{
    
    width: 130px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    @media screen and (min-width: 480px) {
      width: 210px;
    }
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
}

.clients-item__link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-item__icon{
    width: 106px;
    height: 60px;
    fill: var(--brand-color-gray);
    transition-property: transform;
   

}

.clients-item:hover {
border-color: var(--brand-color);
animation-name: changeScaleRotate;
animation-duration: 3000ms;
}
.clients-item:hover .clients-item__icon {
    fill: var(--brand-color);
    transform: scale(1.15);
    animation-duration: 3000ms;

}

/* section-footer */

.section-footer{
    background-color: #2F303A;
    padding: 60px 0;
}

.content-wraper{
    display: block;
    text-align: center;
    @media screen and (min-width:768px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
}
.footer-adress{
    margin-top: 20px;
}

.footer-adress__item{
margin-top: 10px;
}
.footer-adress__item:first-child{
    margin-top: 0;
}

.footer-adress__item:hover a{
    color: rgba(255, 255, 255, 0.60);
 
}
.footer-adress__item a{
    color: var(--brand-color-font); 
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}
.social-wraper{
   width: 206px;
   margin: 0 auto;
   margin-top: 60px;
   @media screen and (min-width: 768px) {
    margin-top: 0;
   }
   @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 70px;
   }
}
.footer_social__title{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-social__list{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.footer-social__item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
}
.footer-social__item:hover{
    background-color: var(--brand-color);
}

.footer-social__link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-social__icon{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.form-wraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer-form__title{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
    
}

.footer-form__input{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    padding: 15px 16px;
    @media screen and (min-width: 768px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
}

.footer-form__button{
    border-radius: 4px;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 28px;
    margin-left: 0;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 12px;
    }
}

.footer-form__icon{
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-left: 10px;
}



/*  */
@keyframes changeScaleRotate{
    0% {
      transform: perspective(400px) rotateY(0deg);
    }
    25% {
      transform: perspective(400px) rotateY(60deg);
    }
  
    50% {
      transform: perspective(400px) rotateY(-60deg);
    }
    75% {
      transform: perspective(400px) rotateY(600deg);
    }
    100% {
      transform: perspective(400px) rotateY(0deg);
    }
  }